*.sqlite
.env
.env.*
secrets.json
config.json
*.pem
*.key
*.crt
*.bak
*.old
*.swp
*.tmp
.DS_Store
static/videos/large/0298_drive.mp4
static/videos/large/0297_drive.mp4
static/videos/large/0299_drive.mp4
static/videos/large/0295_drive.mp4
static/videos/large/0296_drive.mp4
